<div class="big">
  <main class="text2">
    <form action="validate" method ="get">
      <label for="name">What's your name?</label>
        <p>
          <input type="text" name="name" id="name"/>
          <input type="submit" />
        </p>
      </form>
  <main class="text2">
</div>
