<h1>Do you want to play a game?</h1>
<h2>Try to guess the secret number.</h2>
<h3>Paste this link in your browser followed by your guess:</h3>
<h3>localhost:3000/game?guess=</h3>
<hr>
<p>Your guess was: <%= @guess %></p>
<p>Your guess was <%= @feedback %></p>
<p>The secret number is: <%= cookies[:secret] %></p>
