<div class="big">
  <main class="text4">
    <h1>Welcolme, <%= cookies[:name] %> </h1>
    <h1>Do you want to play a game?</h1>
    <p>
      <form action="try" method="get">
        <input type="submit" value="YES"/>
      </form>
      <form action="kill" method="get">
        <input type="submit" value="NO" />
      </form>
    </p>

  </main>
</div>
